.login-form{
    width: 40%;
    margin: auto;
  }
  
  .mt{
    margin-top: 30px;
  }
  
  .mr{
    margin-right: 30px;
  }
  
  .ft-size{
    font-weight: bold;
  }
  
  .card{
    border-radius: 10px;
  }
  